.timetable .events {
    list-style: none;
}

.timetable .calendar_event_site {
    background-color: #f4fdf2;
    border-left: 5px solid #d6f9cd;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.12), 0px 2px 2px rgba(0,0,0,0.12), 0px 4px 4px rgba(0,0,0,0.12), 0px 8px 8px rgba(0,0,0,0.12), 0px 16px 16px rgba(0,0,0,0.12);
}

.timetable .calendar_event_site .notificationtext .timetable-event {
    color: #265619;
    font-weight: bold;
}

.timetable .calendar_event_site .notificationtext {
    color: #265619;
}

.timetable .calendar_event_category {
    background-color: #f4fdf2;
    border-left: 5px solid #d6f9cd;
    color: #215214;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.12), 0px 2px 2px rgba(0,0,0,0.12), 0px 4px 4px rgba(0,0,0,0.12), 0px 8px 8px rgba(0,0,0,0.12), 0px 16px 16px rgba(0,0,0,0.12);
}

.timetable .calendar_event_category  .notificationtext .timetable-event {
    color: #215214;
    font-weight: bold;
}

.timetable .calendar_event_category .notificationtext {
    color: #215214;
}

.timetable .calendar_event_course {
    background-color: #fff5ee;
    border-left: 5px solid #facfb9;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.12), 0px 2px 2px rgba(0,0,0,0.12), 0px 4px 4px rgba(0,0,0,0.12), 0px 8px 8px rgba(0,0,0,0.12), 0px 16px 16px rgba(0,0,0,0.12);
}

.timetable .calendar_event_course .notificationtext .timetable-event {
    color: #381400;
    font-weight: bold;
}

.timetable .calendar_event_course .notificationtext {
    color: #381400;
}

.timetable .calendar_event_user .notificationtext .timetable-event {
    color: #3e576f;
    font-weight: bold;
}

.timetable .calendar_event_user .notificationtext {
    color: #3e576f;
}

.timetable .calendar_event_group {
    background-color: #fee7ae;
    border-left: 5px solid #8a5700;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.12), 0px 2px 2px rgba(0,0,0,0.12), 0px 4px 4px rgba(0,0,0,0.12), 0px 8px 8px rgba(0,0,0,0.12), 0px 16px 16px rgba(0,0,0,0.12);
}

.timetable .calendar_event_user {
    background-color: #f3f4f6;
    border-left: 5px solid #ced4da;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.12), 0px 2px 2px rgba(0,0,0,0.12), 0px 4px 4px rgba(0,0,0,0.12), 0px 8px 8px rgba(0,0,0,0.12), 0px 16px 16px rgba(0,0,0,0.12);
}

.timetable .calendar_event_other {
    background-color: #ced4da;
    border-left: 5px solid #6c6c6c;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.12), 0px 2px 2px rgba(0,0,0,0.12), 0px 4px 4px rgba(0,0,0,0.12), 0px 8px 8px rgba(0,0,0,0.12), 0px 16px 16px rgba(0,0,0,0.12);
}

.block_timetable .content {
    position: relative;
    padding: 0px;
    margin: 0px;
}

.block_timetable .timetable {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.block_timetable .events {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.block_timetable .event-item {
    margin: 5px 0px 10px;
    padding: 7px;
    position: relative;
}

.block_timetable .event,
.block_timetable .meta {
    display: flex;
    width: 100%;
}

.block_timetable hr {
    margin: 5px 0px;
}

.block_timetable .footer {
    clear: both;
    padding: 10px 8px 0px 10px;
    border-top: 1px solid #efefef;
}

.timetable.horizontal {
    overflow: auto;
    white-space: nowrap;
}

.timetable.horizontal .events .event-item {
    display: inline-block;
    text-decoration: none;
    width: 200px;
    min-height: 150px;
    word-break: normal;
    white-space: normal;
}

.block_timetable .events .item.past {
    opacity: 0.4;
}

.timetable_day {
    float: left;
    width: 12%;
    margin: 0px 3px 0px 3px;
    text-align: center;
    background: #f2f2f2;
    color: #000;
    font-weight: bold;
    border: 1px solid #f2f2f2;
}

.timetable_day a {
    color: #000;
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
}

.timetable_day.now {
    border: 1px solid #000;
}

.timetable_day.active {
    background: #000;
    color: #ffffff;
}

.timetable_day.active a {
    color: #ffffff;
}

.timetable_day.inactive a {
    color: #c1c1cb;
}

.timetable_day a:hover {
    text-decoration: none;
}
