.timetable ul
{
    list-style: none;
}
.timetable  .calendar_event_site {
    background-color: #F4FDF2;
    border-left: 5px solid #D6F9CD;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12),0 2px 2px rgba(0,0,0,0.12),0 4px 4px rgba(0,0,0,0.12),0 8px 8px rgba(0,0,0,0.12),0 16px 16px rgba(0,0,0,0.12);
}
.timetable  .calendar_event_site .notificationtext .timetable-event
{
     color:#265619;
    font-weight:bold;
}
.timetable  .calendar_event_site  .notificationtext
{
     color:#265619;
}

.timetable .calendar_event_category {
    background-color: #F4FDF2;
     border-left: 5px solid #D6F9CD;
     color:#215214;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12),0 2px 2px rgba(0,0,0,0.12),0 4px 4px rgba(0,0,0,0.12),0 8px 8px rgba(0,0,0,0.12),0 16px 16px rgba(0,0,0,0.12);
}
.timetable .calendar_event_category  .notificationtext .timetable-event
{
     color:#215214;
    font-weight:bold;
}
.timetable .calendar_event_category  .notificationtext
{
     color:#215214;
}
.timetable .calendar_event_course {
    background-color: #FFF5EE;
     border-left: 5px solid #FACFB9;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12),0 2px 2px rgba(0,0,0,0.12),0 4px 4px rgba(0,0,0,0.12),0 8px 8px rgba(0,0,0,0.12),0 16px 16px rgba(0,0,0,0.12);
}
.timetable .calendar_event_course  .notificationtext .timetable-event{
    color:#381400;
    font-weight:bold;    
}
.timetable .calendar_event_course  .notificationtext {
    color:#381400;
}

.timetable .calendar_event_user  .notificationtext .timetable-event
{

  color:#3E576F;
  font-weight:bold;
}
.timetable .calendar_event_user  .notificationtext {
  color:#3E576F;
}

.timetable .calendar_event_group {
    background-color: #fee7ae;
     border-left: 5px solid #8a5700;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12),0 2px 2px rgba(0,0,0,0.12),0 4px 4px rgba(0,0,0,0.12),0 8px 8px rgba(0,0,0,0.12),0 16px 16px rgba(0,0,0,0.12);
}
.timetable .calendar_event_user {
    background-color: #F3F4F6;
     border-left: 5px solid #CED4DA;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12),0 2px 2px rgba(0,0,0,0.12),0 4px 4px rgba(0,0,0,0.12),0 8px 8px rgba(0,0,0,0.12),0 16px 16px rgba(0,0,0,0.12);
}
.timetable .calendar_event_other {
    background-color: #ced4da;
     border-left: 5px solid #6c6c6c;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12),0 2px 2px rgba(0,0,0,0.12),0 4px 4px rgba(0,0,0,0.12),0 8px 8px rgba(0,0,0,0.12),0 16px 16px rgba(0,0,0,0.12);
}

.block_timetable .content {
    position: relative;
    padding: 0;
    margin: 0;
}


.block_timetable .timetable {
    width: 100%;
    max-height: 400px;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

.block_timetable ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.block_timetable li {
  margin: 5px 5px 10px 10px;
padding: 10px 0px 20px 5px;
position: relative;
}
.block_timetable .event,
.block_timetable .meta {
    display: flex;
    width: 100%;
}

.block_timetable hr {
    margin: 5px 0;
}

.block_timetable .footer {
    clear: both;
    padding: 10px 8px 0 10px;
    border-top: 1px solid #efefef;
}

.timetable.horizontal
{
   overflow: auto;
  white-space: nowrap;
}


.timetable.horizontal .events li
{
     display: inline-block;
  text-decoration: none;
      min-width: 150px;
    min-height: 100px;
    width: 20%;
}
.block_timetable ul .item.past
{
  opacity: 0.6; 
}
.timetable_day {
  float: left;
width: 13%;
margin: 1px;
text-align: center;
background: #F2F2F2;
color: #000;
font-weight:bold;
}
.timetable_day a
{
color: #000;  
}
.timetable_day.active
{
  background:#000;
  color:#FFF;
}
.timetable_day.active a
{
  color:#FFF;
}
.timetable_day.inactive a
{
  color:#C1C1CB;
}
.timetable_day a:hover
{
  text-decoration: none;
}